body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.calculator{
    background-color: black;
    border: 2px solid black;
    overflow: hidden;
}

.display{
    background-color: black;
    color: white;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    border-bottom: 2px solid black;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
}
button{
    border: 5px solid black;
    background-color: #d3d3d3;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 50px;
}
button:hover{
    background-color: #e4e3e3;
}
.operator{
    background-color: #d98c32;
    color: white;
}
.operator:hover{
    background-color: #f3901e;
}
button:active{
    opacity: 0.8;
}
.clear{
    grid-column: span 2;
}
.zero{
    grid-column: span 3;
}
